@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.body{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://world-schools.com/es/wp-content/uploads/sites/11/2023/05/IMG-Academy-cover-WS.webp);
background-repeat: no-repeat;
background-size: cover;

}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
/*     background: salmon; */
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(250, 250, 250, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
 font-size: 20px;
}

.wrapper .btn{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

ul{
    display: flex;
   padding: 15px;
    list-style: none;
}


.datos-recolectados{
    padding: 0px 15px;
    text-align: center;
}

.flex-container{
    display: flex;
  flex-direction: column; 
    justify-content: center;
    font-size: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px 10px rgba(3, 205, 255, 0.1);
    
}

h2{
    text-align: center;
    display: flex;
     justify-content: center;
     font-size: 20px;
     width: 100%;
     background: transparent;
     border: 2px solid rgba(255, 255, 255, .2);
     backdrop-filter: blur(20px);
     color: #fff;
     border-radius: 10px;
     padding: 10px;
     margin-bottom: 10px;
     box-shadow: 0 0 10px 10px rgba(3, 205, 255, 0.1);

}


.btnBorrar{
    margin-top: 20px;
    width:90px;
    height: 45px;
    background: red;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(3, 205, 255, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20PX;
    text-align: center;
    

}


.flex-container .flex{
text-align: center;
display: flex;
 justify-content: center;
 font-size: 20px;
 width: 100%;
 background: transparent;
 border: 2px solid rgba(255, 255, 255, .2);
 backdrop-filter: blur(20px);
 color: #fff;
 border-radius: 10px;
 padding: 10px;
 margin-bottom: 10PX;
 box-shadow: 0 0 10px 10px rgba(3, 205, 255, 0.1);
 margin-bottom: 20px;
}

 span{
    color: rgb(229, 255, 0);
 }